<!DOCTYPE html>
<html>
<head>
  <title>Watch Ur Weight</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<h1>Watch Ur Weight</h1>
<h3>Get a healthcheck on your Workshare files</h3>

<div>
  <p>Enter your Workshare credentials:</p>
  <form action="/" method="post">
    Email: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Get Report">
  </form>
</div>

<div>
<textarea><%= @report %></textarea>
</div>